body {
  background-color: #000;
  width: 100%;
  height: auto;
  color: white;
}

.main {
  text-align: center;
  margin: 10% auto auto auto;
  color: #fff;
  width: 500px;
  height: 280px;
  border-radius: 5px;
}

blockquote {
  width: 100%;
  height: 200px;
}

#quote {
  text-align: justify;
  margin: 10px auto;
  padding: 10px;
  overflow: scroll;
  display: block;
}

#twitter,
#btn {
  padding: 10px;
}

.footer {
  text-align: center;
}
